body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-140px;
  width:1365px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:625px;
}
#u6061 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:195px;
  width:1365px;
  height:625px;
  display:flex;
}
#u6061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6062 label {
  left:0px;
  width:100%;
}
#u6062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u6062 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:315px;
  width:172px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6062 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u6062_img.selected {
}
#u6062.selected {
}
#u6062_img.disabled {
}
#u6062.disabled {
}
#u6062_img.selectedDisabled {
}
#u6062.selectedDisabled {
}
#u6062_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:156px;
  word-wrap:break-word;
  text-transform:none;
}
#u6062_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:193px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6063 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:378px;
  width:358px;
  height:193px;
  display:flex;
}
#u6063 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
