body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-63px;
  width:1365px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:103px;
}
#u6163 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:41px;
  width:1365px;
  height:103px;
  display:flex;
}
#u6163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:524px;
}
#u6164 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:240px;
  width:1365px;
  height:524px;
  display:flex;
}
#u6164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6165 label {
  left:0px;
  width:100%;
}
#u6165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u6165 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:258px;
  width:100px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6165 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u6165_img.selected {
}
#u6165.selected {
}
#u6165_img.disabled {
}
#u6165.disabled {
}
#u6165_img.selectedDisabled {
}
#u6165.selectedDisabled {
}
#u6165_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u6165_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:315px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6166 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:364px;
  width:403px;
  height:315px;
  display:flex;
}
#u6166 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6167_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6167 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:251px;
  width:136px;
  height:32px;
  display:flex;
}
#u6167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6167_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6167.disabled {
}
#u6168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:68px;
}
#u6168 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:161px;
  width:1120px;
  height:68px;
  display:flex;
}
#u6168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
